  
  .hero-text {
    border: none;
    text-align: center;
    margin: 0 1rem;
  }

  body {
    transition: .1s ease-in; /* transition back into light mode */
  }

  .header-container {
    position: relative;
    width: 1080px;
    margin: 0 auto;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
