/* just use classname for things transitioning out of light mode styles */

  .hero-text {
    border: none;
    text-align: center;
    margin: 0 1rem;
  }

  .header-container {
    position: relative;
    width: 1080px;
    margin: 0 auto;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
